@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@media screen and (max-width: 800px) {
  	body{
		font-family: 'Source Sans Pro', sans-serif !important;
  	}
    .content
    {
    
        background-color: rgb(40,40,40);
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-areas: "texto"
                             "conteudo"
                             "menu"
                             "propaganda";
        grid-template-columns: 100%;		
        
        grid-gap: 20px;
    }
    .content
    {
    	margin-top: 150px;
    }
    .nav
    {
    	padding-left: 0 !important;
    	display: grid;
		grid-template-areas: "botao titulo" !important;
		grid-gap: 20px;
		justify-content: start !important;
		align-items: center;
		position: fixed;
		top: 0;
		grid-template-columns: auto !important;
		box-shadow: -1px 14px 0px 1px rgb(13 62 149) !important;
    }
    .conteudo_nav
    {
    	grid-area: titulo;
		grid-template-areas: "iconUFMS"
							 "titulo" !important;
		grid-template-columns: 100% !important; 
		text-align: center; 
		grid-gap: 20px;  	
    }
	.conteudo_nav img{
		display: inline-flex !important;
	}
	.titulo_nav
	{
		display: inline-flex !important;
	}
    .menu-list
	{
		display: flex !important;
		grid-area: botao !important;
		left: 0;
		position: relative;
		height: 100%;
	}
	.menu-list img
	{
		padding: 10px;
		display: block !important;		
		width: 30px;
		height: 30px;
		z-index: 2;
		
	}

	.box-list
	{
		top: 0;
		padding-top: 40px;
		transition: 1s;
		position: fixed;
		width: 0px;
		background-color: rgb(20,20,20);
		height: 100%;
		z-index: 1;
		text-align: center;
	}
	.lista-de-abas
	{
		margin-top: 50px !important;
		display: block !important;
		box-shadow: inset -4px 0px 0px 0px gold
	}
	.lista-de-abas a
	{
		display: grid;
		grid-template-areas: "icon nome";
		grid-template-columns: 20% 80%;
		justify-content: center;
		align-items: center;
		border-bottom: 0 !important;
		margin-right: 0 !important;
	}
	.lista-de-abas a img
	{
		grid-area: icon;
		width: 30px;

		overflow: hidden;
		position: relative;
	}
	.lista-de-abas li
	{
		grid-area: nome;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		padding: 20px;
		margin: 5px;
		margin-right: 0px !important;
		border-bottom: 0px !important;
		border-color: white;
		cursor: grab;	
	}
	.lista-de-abas a.active
	{
		background-color: gold;
	}
	
	.lista-de-abas a:hover
	{
		background-color: gold !important;
	}
	}
*{
	overflow-x: hidden;
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro', sans-serif !important;
	color: white;
	
}
.box-list
{	
	margin-top: 20px;
    text-align: center;
    background-color: rgb(5,5,5, 0.5);
    box-shadow: inset 0px -9px 0px 0px rgb(13 62 149);
}
html {
    height: 100%;
	
}
body
{
	background-color: white;
	height: 100vh;
	width: 100%;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: visible;
}
.menu-list>img
{
	display: none;
}
.lista-de-abas a
{
	display: grid;
	grid-template-areas: "icon nome";
	grid-template-columns: 20% 80%;
	justify-content: center;
	align-items: center;
	margin-right: 5px;
	margin-left: 5px;
	border-bottom: solid 9px;
	border-color: white;
	padding: 10px;
	padding-top: 0px;
	transition: 0.5s;
	text-decoration: none;
}
.lista-de-abas a:hover
{
	border-bottom: solid 9px;
	border-color: gold;
}
.lista-de-abas a img
{
	grid-area: icon;
	width: 30px;	
	overflow: hidden;	
	position: relative;

}
.nav:before{
	background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(10%);
    /* filter: brightness(30%) brightness(0.5); */
    	
    background-image: url(icons/UFMS-750x410.jpg);
    content: "";
    position: fixed;
    display: block;
    /* left: 0; */
    width: 100%;
    height: 185px;
    /* height: 100%; */
    /* right: 0; */
    z-index: -1;
}
.nav
{	
	
	width: 100%;
	
	display: grid;
	grid-template-areas: "titulo"
						 "menu";
	
	justify-content: center;
	grid-template-columns: 100%;
	box-shadow: 2px 2px 2px 1px rgb(13 62 149);
}
.menu-list
{
	width: 100%;
	
	grid-area: menu;
	display: inline;
	
	
}
.lista-de-abas
{
	display: inline-flex;
	text-align: center;
	
}
.lista-de-abas li
{
	padding: 20px;
	margin: 5px;
	
	cursor: grab;	
}

.conteudo_nav
{	
	padding-top: 20px;
	display: grid;
	grid-area: titulo;
	grid-template-areas:"iconUFMS titulo";
	grid-template-columns: 15% 20%;
	justify-content: center;
	grid-auto-flow: row;
	align-items: center;
	
}
.conteudo_nav img
{
	width: 100%;
	grid-area: iconUFMS;
}

#titulo_nav
{	
	justify-content: start;
	align-items: center;
	grid-area: titulo;
	display: flex;	
	font-size: 1rem;
	font-weight: bold;
	color: black;
	
}
h1
{
	font-size: 1rem;
	text-align: center;
}
.text-center p
{
	text-align: justify;
	
}
.content
{

	background-color: rgb(40,40,40);
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-areas: "menu texto propaganda"
						 "menu conteudo propaganda";
	grid-template-columns: 20% 60% 20%;		
	
	grid-gap: 20px;
}
.text-center
{
	grid-area: texto;
	padding: 40px;
	padding-bottom: 0px;
	margin-top: 20px;
}
.central-box
{
	padding-top: 0px;
	padding: 40px;
	text-align: center;
	grid-area: conteudo;
}
.menu-lateral
{
	display: grid;
	word-wrap: break-word;
	
	grid-area: menu;
	
	height: 100%;
	text-align: center;
}
.menu-lateral-content
{
	display: block;
	padding: 20px;
	padding-left: 0px;
	padding-right: 0px;
}
.menu-lateral-content p{
	padding-left: 20px;
}
.propaganda-box
{
	grid-area: propaganda;
	
	height: 100%;
	text-align: center;
}
.arquivo-1
{
	display: grid;
	grid-template-columns: 20% 80%; 
	justify-content: center;
	text-align: center;
	align-items: center;
	margin: 20px;
}
.arquivo-1 img
{
	width: 100%;
}
.content-propaganda>p 
{
	padding: 20px;
	padding-right: 20px;
	background-color: rgb(10,10,10);
}
.menu-lateral p 
{
	padding: 20px;
	background-color: rgb(10,10,10);
}
.content-propaganda
{
	padding: 20px;
	display: block;	
	padding-left: 0px;
	padding-right: 0px;
}
.my-instagram
{
	cursor: grab;
	display: grid;
	box-sizing: border-box;
	grid-row: 1;
	grid-template-columns: 20% 80%;	
	justify-items: start;
	align-items: center;
}
.adsbygoogle
{
	overflow: hidden;
}
.anuncio-box
{
	overflow-y: hidden;
}
.my-instagram img
{
	width: 100%;
}
.formulario_box
{	
	box-shadow: 2px 2px 2px 1px rgb(13 62 149);
	display: grid;
	grid-template-areas:"cursos"
						"ano"
						"notaMat"
						"notaLin"
						"notaHum"
						"notaNat"
						"reda"
						"botao";
	grid-template-columns: 100%;	
	justify-items: center;
	align-items: center;
	grid-gap: 10px;
	background-color: rgb(40,116,252);
	padding: 30px;
	text-align: center;
	border-radius: 10px;
}
.fomulario_box label
{
	font-size: 1rem;
	font-weight: bold;
}
.formulario_box select
{
	width: 100%;
	font-size: 1rem;
	color: white;
	background-color: white;
	text-align: center;
	border-radius: 10px;
	border-width: 1px;
	border-color: white;
	padding: 5px;
	justify-content: center;
	color: black;
}
.formulario_box input
{
	width: 100%;
	font-size: 1rem;
	color: black;
	background-color: white;
	text-align: center;
	border-radius: 10px;
	border-width: 0.1px;	
	padding: 2px;	
	border: none;
}
.formulario_box input:focus
{
	border-color: white;
}
::placeholder
{
	color: grey; 
}
.formulario_box select:nth-child(1)
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	grid-area: cursos;
	color: white;
	background-color: rgb(40,116,252);
}
.formulario_box select:nth-child(2)
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	grid-area: ano;
	color: white;
	background-color: rgb(40,116,252);
}
.formulario_box input:nth-child(3)
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	grid-area: notaMat;
}
.formulario_box input:nth-child(4)
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	grid-area: notaLin;
}
.formulario_box input:nth-child(5)
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	grid-area: notaHum;
}
.formulario_box input:nth-child(6)
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	grid-area: notaNat;
}
.formulario_box input:nth-child(7)
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	grid-area: reda;
}
.formulario_box input:nth-child(8)
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	grid-area: botao;
	padding: 20px;
	border: none;
	background-color: #fd9644;
    border: 2px solid #fa8231;
    font-weight: bold;
    font-size: 1.2rem;
}
#submit-btn:hover
{
	cursor: grab;

}
#submit-btn:active {
 
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}
.foot
{
	height: 30px;
	
	background-color: rgb(10,10,10);
	text-align: center;
	padding: 20px;
}
