@media screen and (max-width: 800px) {
  
    .content
    {
    
        background-color: rgb(40,40,40);
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-areas: "texto"
                             "conteudo"
                             "menu"
                             "propaganda";
        grid-template-columns: 100%;		
        
        grid-gap: 20px;
    }
    
    }